<section class="section bg-white py-0 " id="introduction">
    <div class="myModal mymodeloverwrite">
        <div class="row canAppDiv modal-dialog modal-lg">

            <div class="col-md-12 modal-content model_overwrite">
                <div class="noDecor modal-body model_overwrite">
                    <div id="VerifyEmail-step">

                        <div class="form-horizontal bg-white">
                            <div class="text-center">
                                <a> <img class="logo-default" src="./assets/img/CANExchange.svg" width="auto" height="23px"
                                        alt="logo"></a>
                            </div>
                           
                            <div *ngIf="currStep === Step.details">
                                <canyalib-mt-wizard-personal (valueChange)='stepChanger($event)'></canyalib-mt-wizard-personal>
                            </div>
                            <div *ngIf="currStep === Step.payment">
                                <canyalib-mt-wizard-payment (valueChange)='stepChanger($event)'></canyalib-mt-wizard-payment>
                            </div>
                            <div *ngIf="currStep === Step.payment_erc20">
                                <canyalib-mt-wizard-erc20 (valueChange)='stepChanger($event)'></canyalib-mt-wizard-erc20>
                            </div>
                            <div *ngIf="currStep === Step.result">
                                <canyalib-mt-wizard-result (valueChange)='stepChanger($event)'></canyalib-mt-wizard-result>
                            </div>
                            <div *ngIf="currStep === Step.staging">
                                <canyalib-mt-wizard-staging (valueChange)='stepChanger($event)'></canyalib-mt-wizard-staging>
                            </div>
                            <div *ngIf="currStep === Step.complete">
                                <canyalib-mt-wizard-complete (valueChange)='stepChanger($event)'></canyalib-mt-wizard-complete>
                            </div>
                            <div *ngIf="currStep === Step.error">
                                <canyalib-mt-wizard-error (valueChange)='stepChanger($event)'></canyalib-mt-wizard-error>
                            </div>
                            

                            <div class="text-center help-line">
                                <a href="#">Need Help?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>